html, body {
    height: 100%;
}

#app {
    min-height: 100%;
    background-color: #edf1f3;
}

i.fas {
    margin-right: 10px;
}

.navbar {
    margin-bottom: .75rem;
    box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1)
}

.media-right {
    .icon, .tag {
        margin: 0 4px;
        cursor: pointer;
    }
}
