html, body {
    height: 100vh;
}

body, #app {
    // background: linear-gradient(135deg, rgba(29, 29, 29, 0.05) 0%, rgba(29, 29, 29, 0.05) 17%,rgba(27, 27, 27, 0.05) 17%, rgba(27, 27, 27, 0.05) 34%,rgba(31, 31, 31, 0.05) 34%, rgba(31, 31, 31, 0.05) 93%,rgba(242, 242, 242, 0.05) 93%, rgba(242, 242, 242, 0.05) 100%),linear-gradient(135deg, rgba(129, 129, 129, 0.05) 0%, rgba(129, 129, 129, 0.05) 66%,rgba(117, 117, 117, 0.05) 66%, rgba(117, 117, 117, 0.05) 91%,rgba(199, 199, 199, 0.05) 91%, rgba(199, 199, 199, 0.05) 100%),linear-gradient(135deg, rgba(31, 31, 31, 0.07) 0%, rgba(31, 31, 31, 0.07) 15%,rgba(139, 139, 139, 0.07) 15%, rgba(139, 139, 139, 0.07) 23%,rgba(200, 200, 200, 0.07) 23%, rgba(200, 200, 200, 0.07) 29%,rgba(102, 102, 102, 0.07) 29%, rgba(102, 102, 102, 0.07) 100%),linear-gradient(90deg, rgb(19, 196, 228),rgb(126, 8, 222));
    background: repeating-linear-gradient(206deg, hsl(250,67%,49%, 0.4) 0px, hsl(250,67%,49%, 0.4) 62px,hsl(295,67%,49%, 0.4) 62px, hsl(295,67%,49%, 0.4) 124px,hsl(340,67%,49%, 0.4) 124px, hsl(340,67%,49%, 0.4) 186px,hsl(25,67%,49%, 0.4) 186px, hsl(25,67%,49%, 0.4) 248px,hsl(70,67%,49%, 0.4) 248px, hsl(70,67%,49%, 0.4) 310px,hsl(115,67%,49%, 0.4) 310px, hsl(115,67%,49%, 0.4) 372px,hsl(160,67%,49%, 0.4) 372px, hsl(160,67%,49%, 0.4) 434px,hsl(205,67%,49%, 0.4) 434px, hsl(205,67%,49%, 0.4) 496px),repeating-linear-gradient(285deg, hsl(97,85%,81%, 0.56) 0px, hsl(97,85%,81%, 0.56) 80px,hsl(148.42857142857144,85%,81%, 0.56) 80px, hsl(148.42857142857144,85%,81%, 0.56) 160px,hsl(199.8571428571429,85%,81%, 0.56) 160px, hsl(199.8571428571429,85%,81%, 0.56) 240px,hsl(251.28571428571433,85%,81%, 0.56) 240px, hsl(251.28571428571433,85%,81%, 0.56) 320px,hsl(302.7142857142858,85%,81%, 0.56) 320px, hsl(302.7142857142858,85%,81%, 0.56) 400px,hsl(354.1428571428572,85%,81%, 0.56) 400px, hsl(354.1428571428572,85%,81%, 0.56) 480px,hsl(45.57142857142867,85%,81%, 0.56) 480px, hsl(45.57142857142867,85%,81%, 0.56) 560px),repeating-linear-gradient(45deg, hsl(204,0%,59%),hsl(131,0%,78%),hsl(79,0%,32%) 165px);
}

i.fas {
    margin-right: 10px;
}

.navbar {
    margin-bottom: .75rem;
    box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1)
}

.media-right {
    .icon, .tag {
        margin: 0 4px;
        cursor: pointer;
    }
}

span.space {
    margin-left: 4px;
}
