html,
body {
  height: 100%;
}

#app {
  min-height: 100%;
  background-color: #edf1f3;
}

i.fas {
  margin-right: 10px;
}

.navbar {
  margin-bottom: 0.75rem;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.media-right .icon {
  margin: 0 4px;
}

.media .icon {
  cursor: pointer;
  font-size: 1.25rem;
}

